*/target
target
*/proguard_logs
proguard_logs
tmp
*~
bin
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
release.properties
project.properties
*.iws
*.iml
gen
*/seed.txt
notes
logs
gen-external-apklibs
.idea
out
.DS_Store
classes
release.log
analyze/
app/check-res.log
*.ipr
.gradle/
build/
local.propertiesapp/lint-report.html
app/lint-report.xml
app/unused.txt
local.properties